*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.main{
    /* height:700px !important; */
    border-radius: 2rem;
    /* margin:auto 0px !important; */
    color: white !important;
}

.inputs{
    padding:0px 35px; 
}

.btn{
    width:200px;
    font-size:1.5rem !important;
    letter-spacing:1px;
}
