body{
    background-image:url('exp2.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
}

label{
    font-size: 1.3rem;
    font-weight: 400;
}

#add{
    width: 100%;
}

.main{
    background-color: rgb(187, 127, 205)!important;
    opacity: 0.85;
}